<%= render "workouts/card_frame",
  card_url: workout_path(template),
  card_name: template.name,
  card_date: template.started_at.to_date,
  edit_path: edit_workout_path(template),
  delete_path: template,
  extra_formatting: "border-l-4 border-purple-500" do %>
  <div class="">
    <div class="flex items-center gap-2 text-gray-700">
      <%= inline_svg_tag "icons/dumbbell.svg", class: "responsive-icon text-gray-400" %>
      <span><%= template.workout_exercises.count %> exercises</span>
    </div>
  </div>

  <div class="flex grow align-center">
    <%= link_to "Start Workout",
      exercises_path,
      target: "_top",
      class: "mt-4 px-6 py-2 w-full text-center text-indigo-700 bg-indigo-100 hover:bg-indigo-200 rounded-lg font-medium"
    %>
  </div>
<% end %>
