<div>
  <div class="flex justify-between mb-4">
    <h1 class="font-bold text-4xl">My Workouts</h1>
    <%= link_to 'New Workout',
      new_workout_path,
      class: "bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-150"
    %>
  </div>
  <div class="grid grid-cols-1 gap-4">
    <% @workouts.each do |workout| %>
      <%= render partial: 'workout_card', locals: { workout: workout } %>
    <% end %>
  </div>
</div>
