<div class="mb-4">
  <h1 class="text-2xl font-semibold text-gray-700">New Workout Template</h1>
  <p class="text-gray-500">Design a reusable template for your future workouts</p>
</div>

<%= render 'form', workout: @workout %>
